*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
    border-radius: 10px;
    border: #c3083f 2px ;
    border-style: solid;
    font-size: 30px;
    text-align: center;
}

button{
    border-radius: 10px;
    border: #c3083f 2px ;
    border-style: solid;
    font-size: 30px;
    text-align: center;
}

.topSection{
    width: 100%;
    height: 40px;
    color: #c3083f;
    text-align: center;
    padding-bottom: 0;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    
}
p{
    margin-bottom: 10px;
}

.mainSection{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   

}

.indiSection{
    width: 100px;
    height: 380px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.midSection{
    width: 350px;
    height: 380px;
    border-style: none;
       
}

#rock, #paper, #scissor{
    width: 80px;
    height: 80px;

    color: #0fb4d1;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: #79acb53e;

    box-shadow: 0 0px rgba(228, 240, 64, 0.851);


}

#rock:hover, #paper:hover, #scissor:hover {
    background-color: #0fb4d1;
    color: #1d2a2c;
}

#rock:active, #paper:active, #scissor:active {
  /* background-color: #dce0686d; */
  /* box-shadow: 0 1px rgb(187, 255, 0); */
  /* color: #df0c21; */
  transform: translateY(1px);
}


#BotRock, #BotPaper, #BotScissor{
    width: 80px;
    height: 80px;

    color: #0fb4d1;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box1{
    width: 80px;
    height: 50px;
    color: #19cf0f;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#middleBox1, #middleBox4{
    width: 340px;
    height: 50px;
    display: flex;
    flex-direction: row;

    color: #19cf0f;
    
    display: flex;
    justify-content:center;
    align-items: center;
 
}

#middleBox2{
    width: 340px;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-style: none;
    justify-content: space-between;
}

#result{
    width: 155px;
    height: 145px;

    border-radius: 10px;
    border: #d9dc10 2px ;
    border-style: solid;
    color: #ffecec;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#YouWinLoss, #BotWinLoss{
    border-style: none;
    color: #fff900;
    font-size: 50px;
}

#YouScore, #BotScore{
    border-style: none;
    color: #19d10f;
}

#middleBox3{
    width: 340px;
    height: 50px;

    color: #fff900;
    font-size: 20px;
    justify-content: center;


}

#middleBox4{
    justify-content: space-between;
    border-style: none;
}

#play, #reset{
    width: 155px;
    height: 50px;
    justify-content: center;
    background-color: #79acb53e;

    cursor: pointer;

    

}
#play:Hover, #reset:Hover{

    background-color: #55c94e;
    color: #1d2a2c;
}

#play:active, #reset:active {
    /* background-color: #dce0686d; */
    /* box-shadow: 0 1px rgb(187, 255, 0); */
    /* color: #df0c21; */
    transform: translateY(1px);
  }
